In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("last batch gs1.csv", skiprows=3, dtype=str)
df.head()

,Number,Status,Product Name,Description,Main Brand,Sub Brand,Product Link,MPN,SKU,Updated
0,"=""5061049600007""",Active,TW-27-05-TB / TAN-LT.BLUE,TW-27-05-TB / TAN-LT.BLUE,Ashwood,NaN,NaN,NaN,NaN,"=""23/02/2024 10:15:52"""
1,"=""5061049600014""",Active,TW-27-06-NP / NAVY-PINK,TW-27-06-NP / NAVY-PINK,Ashwood,NaN,NaN,NaN,NaN,"=""23/02/2024 10:16:36"""
2,"=""5061049600021""",Active,TW-27-07-BR / BLACK-BLK/RED/GREEN,TW-27-07-BR / BLACK-BLK/RED/GREEN,Ashwood,NaN,NaN,NaN,NaN,"=""23/02/2024 10:17:19"""
3,"=""5061049600038""",Active,TW-27-08-TR / TAN-BLK/RED/GREEN,TW-27-08-TR / TAN-BLK/RED/GREEN,Ashwood,NaN,NaN,NaN,NaN,"=""23/02/2024 10:17:53"""
4,"=""5061049600045""",Active,TW-27-09-BG / BROWN-GREEN,TW-27-09-BG / BROWN-GREEN,Ashwood,NaN,NaN,NaN,NaN,"=""23/02/2024 10:18:37"""